
*C:\brainKiller\brainKiller\appsettings.json
brainKiller/appsettings.json
brainKiller/appsettings.json
brainKiller/bin/Debug/netcoreapp3.1/appsettings.json
brainKiller/bin/Release/netcoreapp3.1/appsettings.json
C:\brainKiller\brainKiller\appsettings.json
C:\brainKiller\brainKiller\bin\Debug\netcoreapp3.1\appsettings.json
C:\brainKiller\brainKiller\bin\Release\netcoreapp3.1\appsettings.json
brainKiller/appsettings.json
C:\brainKiller\brainKiller\Lavalink
brainKiller/appsettings.json
brainKiller/Lavalink/Lavalink.jar
brainKiller/Lavalink/Lavalink.jar
brainKiller/Lavalink/logs/spring.log
